body {
    padding-top: 50px;
}

.navbar-fixed-top {
    border: 0;
}

.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #e8e8e8;
    border-right: 1px solid #cccccc;
}

.nav-sidebar {
    margin-right: -21px;
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar>li>a {
    padding-right: 20px;
    padding-left: 30px;
}

.nav-sidebar>li>a:hover {
    background-color: #428bca;
    color: #ffffff;
}

.nav-sidebar li {
    font-weight: bold;
}

.main {
    padding: 20px 60px;
}

.page-header {
    margin-bottom: 75px;
    border-bottom: 1px solid #cccccc;
}

.main .page-header {
    margin-top: 0;
}

.quick-search-form {
    padding: 8px 0 15px 0;
}

.account-button {
    width: 100px;
}

.breadcrumb {
    margin-bottom: 75px;
    padding-left: 0;
}

.custom-form-error {
    color: red;
}

.custom-success-alert {
    padding-top: 29px;
}

.custom-error-alert {
    padding-top: 29px;
}

.table tbody>tr:hover {
    background-color: #e8e8e8;
}

.table tbody>tr>td {
    vertical-align: middle;
}

.table tbody>tr>td>a {
    width: 100px;
}

.text-bold {
    font-weight: bold;
}

.admin-details-row {
    margin: 15px 0;
}

.admin-book-description {
    margin: 30px 0;
}

.request-button {
    margin: 0;
}

.books-list-account {
    margin-top: 50px;
}

ol.account-list {
    padding-left: 20px;
}

.color-green {
    color: #3c763d;
}

.color-red {
    color: #a94442;
}

.admin-details-list {
    list-style-type: none;
}
